{% extends 'layout.html.twig' %}

{% block title 'Dicephrase' %}

{% block page_id 'home' %}

{% block content %}

    <div class="alert alert-success">
        <h2 id="passphrase">{{ passphrase|join(' ') }}</h2>
    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}
