# Composer
/vendor/
/composer.phar

# Zend Studio
/.project
/.settings
/.buildpath

# Symfony
/app/bootstrap*
/app/data/*.db3
/app/cache
/app/logs
/app/var
/web/bundles
/web/assets
/web/assetic
/web/js
/web/css
*.php~

# Configuration files
/app/config/parameters.ini
/app/config/parameters.yml
/web/.htaccess
